# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\UBU\pl.nickl0gist.ametras_test\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
